/* mobile view */
@media screen and (max-width:600px) {
    body {
        background: url("../images/default.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        text-shadow: 2px 2px 1px black;
        padding: 0;
        margin: 0;
    }

    p {
        padding: 0;
    }

    main {
        min-height: 500px;
        height: calc(100vh - 71px);
    }

    #head {
        background: rgb(17, 16, 16, 0.7);
        font-family: 'Courier New', Courier, monospace;
        margin: 0 auto;
        padding: 5px 0;
        text-align: center;
        width: 100%;
        font-size: 1.2em;
        box-shadow: 3px 3px 5px black;
    }

    #search {
        display: flex;
        flex-direction: column;
    }

    #sContainer {
        margin: 10px auto 5px auto;
        width: 100%;
        text-align: center;
    }

    input {
        width: 90%;
        padding: .8em;
    }

    #buttdiv {
        width: 100%;
    }

    button {
        background: rgb(7, 47, 85);
        color: white;
        cursor: pointer;
        float: right;
        padding: 10px 20px;
        margin-right: 1em;
    }

    .searchBox {
        border: none;
        border-radius: 6px;
        box-shadow: 2px 2px 5px black;
        outline: none;
        transition: 1s;
    }

    .searchBox:hover {
        background: white;
        color: black;
    }

    #wContainer {
        margin: 2em 1.1em;
        background: rgb(10, 10, 10, 0.6);
        box-shadow: 1px 1px 5px rgb(20, 20, 20);
        border-radius: 6px;
        padding: 1em 2em;
        visibility: hidden;
    }

    h1 {
        margin: .3em 0;
        font-size: 2.1em;
    }

    #weather {
        margin-bottom: .6em;
    }

    #weather div {
        display: inline-block;
    }

    #descriptionHead {
        font-size: 1.5em;
        vertical-align: 40%;
        margin: 0 5px;
    }

    #temp {
        font-size: 1.9em;
        vertical-align: 20%;
    }

    .bottom {
        font-size: 1.2em;
        text-align: right;
    }

    footer {
        background-color: rgb(1, 12, 12);
        text-align: center;
        width: 100%;
        padding: 5px auto;
        color: white;
        font-size: .6em;
        line-height: .4em;
    }

    a {
        color: white;
        display: inline-flex;
        text-decoration: none;
    }

    #media a {
        justify-items: space-evenly;
        padding: 5px 0 0 20px;
    }

    footer a :hover {
        color: rgb(8, 8, 56);
    }

    #copy {
        padding: 5px 0;
        margin: 0;
    }
}

/* tablet/ipad and desktop view */
@media screen and (min-width:600px) {
    body {
        background: url("../images/default.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        text-shadow: 2px 2px 1px black;
        height: 100vh;
        margin: 0;
    }

    #head {
        background: rgb(17, 16, 16, 0.7);
        font-family: 'Courier New', Courier, monospace;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        font-size: 50px;
        box-shadow: 3px 3px 5px black;
    }


    #search {
        display: flex;
        flex-direction: column;
    }

    #sContainer {
        margin: 10px 0;
        width: 100%;
    }

    input {
        float: right;
        width: 500px;
        padding: .8em;
        margin-right: 1em;
    }

    #buttdiv {
        width: 100%;
        margin: 10px 0;
    }

    button {
        background: rgb(7, 47, 85);
        color: white;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 20px;
        float: right;
        margin-right: 1em;
        transition: 1s;
    }

    .searchBox {
        border: none;
        border-radius: 6px;
        box-shadow: 2px 2px 5px black;
        outline: none;
    }


    button:hover {
        background: white;
        color: black;
    }


    #wContainer {
        margin: 200px auto;
        background: rgb(10, 10, 10, 0.6);
        box-shadow: 1px 1px 5px rgb(20, 20, 20);
        border-radius: 6px;
        padding: 1em 2em;
        visibility: hidden;
        width: 40%;
    }

    h1 {
        margin: .6em 0;
        font-size: 3em;
    }

    #weather {
        margin-bottom: 1.5em;
    }

    #weather div {
        display: inline-block;
    }

    #descriptionHead {
        font-size: 1.8em;
        vertical-align: 50%;
        margin: 0 5px;
    }

    #temp {
        font-size: 2.2em;
        vertical-align: 30%;
    }

    .bottom {
        font-size: 1.5em;
        text-align: right;
        margin: 10px 0;
    }

    footer {
        position: absolute;
        bottom: 0px;
        background-color: rgb(1, 12, 12);
        width: 100%;
        text-align: center;
        padding: 0 auto;
        color: white;
        font-size: 13px;
        line-height: 8px;
    }

    a {
        color: white;
        display: inline-flex;
        text-decoration: none;
    }

    #media a {
        justify-items: space-evenly;
        padding: 10px 0px 0 20px;
    }

    footer a :hover {
        color: rgb(8, 8, 56);
    }
}